{% extends 'base.html' %}

{% block content %}
    <script src="https://js.stripe.com/v3/" async defer></script>
    <div class="align-header">
        <div class="user-info">
            {% if request.user.photo_url %}
                <img id="profile-picture" src="{{ request.user.photo_url }}" alt="" width="128" height="128">
            {% endif %}
            <div class="user-info-text-box">
                {% if request.user.display_name %}
                    <h2>{{ request.user.display_name }}</h2>
                {% endif %}
                {% if request.user.phone_number %}
                    <h2>{{ request.user.phone_number }}</h2>
                {% endif %}
                {% if request.user.display_name %}
                    <h3>{{ request.user.email }}</h3>
                {% endif %}
                <a href="/logout?next={{ request.path }}">Signout</a>
            </div>
        </div>
        <hr>
        <div class="credits-container"><h2>Credits: {{ credits }} </h2></div>
        {% if not subscription %}
            <hr>
            <div class="buy-credits-container"><h2>Buy Credits</h2>
                <div class="plans-container">
                    {% for lookup_key, subscription in available_subscriptions.items() %}
                        <ul class="product">
                            <li><h3>{{ subscription["display"]["title"] }}</h3></li>
                            <li><h4>{{ subscription["display"]["description"] }}</h4></li>
                            <li>
                                <form action="/__/stripe/create-checkout-session" method="POST">
                                    <!-- Add a hidden field with the lookup_key of your Price -->
                                    <input type="hidden" name="lookup_key" value="{{ lookup_key }}"/>
                                    <button class="btn-outline-dark" type="submit">Buy</button>
                                </form>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </div>

        {% else %}
            <h3 id="subscription-text">You are subscribed
                to {{ subscription["display"]["name"] }}, {{ subscription["display"]["title"] }}</h3>
            <div style="height: 25px;"></div>
            <h3 id="add-on-text">Pay an additional $10 to get 1000 extra credits on any monthly plan.</h3>
            <div style="height: 15px;"></div>
            <form action="/__/stripe/create-checkout-session" method="POST">
                <!-- Add a hidden field with the lookup_key of your Price -->
                <input type="hidden" name="lookup_key" value="addon"/>
                <button class="btn-outline-dark" type="submit">Add Credits</button>
            </form>
            <hr>
            <div class="billing-button-container">
                <h2>Billing</h2>
                <div class="billing-button-container-row">
                    <form action="/__/stripe/create-portal-session" method="POST">
                        <button class="btn-outline-dark" id="portal-button" type="submit">Manage your billing
                            information
                        </button>
                    </form>

                    <form action="/__/stripe/cancel-subscription" method="POST">
                        <button class="btn-outline-cancel" id="cancel-button" type="submit">Cancel Subscription</button>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}