<p>
  Hi {{ user.first_name() }},
</p>

<p>
  {{ invite.created_by.display_name }}
  {% if invite.created_by.email %}
  ({{ invite.created_by.email }})
  {% endif %}
  added you to the "{{ invite.workspace.display_name() }}" workspace
  on <a href="{{ settings.APP_BASE_URL }}">Gooey.AI</a>.
</p>

<p>
  <a href="{{ workspaces_url }}">Open {{ invite.workspace.display_name() }}</a>
</p>

<p>
  Through the workspace link above, you can run frontier
  private and open source AI models and collaborate on
  <a href="{{ saved_url }}">saved workflows</a>.
  Check out <a href="{{ settings.DOCS_URL }}">{{ settings.DOCS_URL }}</a> for a
  great set of tutorials and guides too.
</p>

<p>
  Happy Building!<br/>
  Gooey.AI team
</p>
