<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'gtag.html' %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>

    <!-- Primary Meta Tags -->
    <meta name="title" content="{{ title }}">
    {% if description %}
        <meta name="description" content="{{ description }}">
    {% endif %}

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.url }}">
    <meta property="og:title" content="{{ title }}">
    {% if description %}
        <meta property="og:description" content="{{ description }}">
    {% endif %}
    {% if image %}
        <meta property="og:image" content="{{ image }}">
    {% endif %}

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ request.url }}">
    <meta property="twitter:title" content="{{ title }}">
    {% if description %}
        <meta property="twitter:description" content="{{ description }}">
    {% endif %}
    {% if image %}
        <meta property="twitter:image" content="{{ image }}">
    {% endif %}

    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>

{% include 'header.html' %}
{% include 'login_scripts.html' %}

{% block content %}
{% endblock content %}

</body>
</html>
