<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'gtag.html' %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">


    <!-- Primary Meta Tags -->
    <title>Meta Tags — Preview, Edit and Generate</title>
    <meta name="title" content="{{ title }}">
    {% if description %}
        <meta name="description" content="{{ description }}">
    {% endif %}

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.url }}">
    <meta property="og:title" content="{{ title }}">
    {% if description %}
        <meta property="og:description" content="{{ description }}">
    {% endif %}
    {% if image %}
        <meta property="og:image" content="{{ image }}">
    {% endif %}

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ request.url }}">
    <meta property="twitter:title" content="{{ title }}">
    {% if description %}
        <meta property="twitter:description" content="{{ description }}">
    {% endif %}
    {% if image %}
        <meta property="twitter:image" content="{{ image }}">
    {% endif %}

    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>

{% include 'header.html' %}

{% if not request.user %}
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>

    <script src="/static/js/auth.js"></script>
{% endif %}

{% block content %}
{% endblock content %}

</body>
</html>
