<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'gtag.html' %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>

    <!-- Primary Meta Tags -->
    <meta name="title" content="{{ title }}">
    {% if description %}
    <meta name="description" content="{{ description }}">
    {% endif %}

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.url }}">
    <meta property="og:title" content="{{ title }}">
    {% if description %}
    <meta property="og:description" content="{{ description }}">
    {% endif %}
    {% if image %}
    <meta property="og:image" content="{{ image }}">
    {% endif %}

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ request.url }}">
    <meta property="twitter:title" content="{{ title }}">
    {% if description %}
    <meta property="twitter:description" content="{{ description }}">
    {% endif %}
    {% if image %}
    <meta property="twitter:image" content="{{ image }}">
    {% endif %}

    <link rel="stylesheet" href="/static/css/app.css">
</head>

<body>
    <div class="content">
        {% include 'header.html' %}
        {% include 'login_scripts.html' %}

        {% block content %}
        {% endblock content %}
    </div>

<div class="footer">
    <p>
        <a href="/" target="_self">Home</a>&nbsp;|
        <a href="https://help.gooey.ai/learn" target="_self">Learn</a>&nbsp;|
        <a href="https://help.gooey.ai/blog" target="_blank">Blog</a>&nbsp;|
        <a href="https://help.gooey.ai/faq" target="_blank">FAQ</a>&nbsp;|
        <a href="https://help.gooey.ai/team" target="_self">Team</a>
    </p>
    <p>
        <a href="mailto:support@gooey.ai">support@gooey.ai</a>&nbsp;|
        <a href="https://help.gooey.ai/privacy" target="_self">Privacy</a>&nbsp;&amp;
        <a href="https://help.gooey.ai/terms" target="_self">Terms</a>&nbsp;|
        ©2023 by Gooey.AI / Dara.network Inc
    </p>
</div>
</body>

</html>