<div class="header">
    <nav class="navbar navbar-expand-xl bg-transparent p-0 m-0">
        <div class="container my-2">
            <a href="/">
                <img width="300" height="142"
                     src="https://storage.googleapis.com/dara-c1b52.appspot.com/daras_ai/media/2a3aacb4-0941-11ee-b236-02420a0001fb/thumbs/logo%20black.png_400x400.png"
                     class="img-fluid logo" alt="img">
            </a>
            <div class="mt-2 gap-2 d-flex justify-content-md-end flex-grow-1 justify-content-evenly flex-wrap align-items-center">
                <a data-internal-link class="pe-2" href="/explore/">Explore</a>
                <a class="pe-2" href="/docs/">Docs</a>
                <a class="pe-2" href="/blog/">Blog</a>
                {% if not request.user %}
                <a class="pe-2" href="https://help.gooey.ai/pricing/">Pricing</a>
                {% endif %}
                <a class="pe-2" href="https://help.gooey.ai/contact/">Contact</a>
                {% include 'login_container.html' %}
            </div>
        </div>
    </nav>
</div>
