<div class="header">
    <nav class="navbar navbar-expand-xl bg-transparent p-0 m-0">
        <div class="container-xxl my-2">
            <a href="/">
                <img width="300" height="142"
                     src="{{ settings.GOOEY_LOGO_IMG }}"
                     class="img-fluid logo" alt="img">
            </a>
            <div class="mt-2 gap-2 d-flex justify-content-md-end flex-grow-1 justify-content-evenly flex-wrap align-items-center">
                {% for url, label in settings.HEADER_LINKS %}
                    <a class="pe-2" href="{{ url }}">{{ label | safe }}</a>
                {% endfor %}
                {% if request.user and not request.user.is_anonymous %}
                    <a class="pe-2" href="/account">
                        Hi, {{ request.user.first_name()  or request.user.email or request.user.phone_number or "Anon" }}
                    </a>
                {% else %}
                    {% if not request.url.path.startswith("/login") %}
                        <a class="pe-2" href="/login/?next={{ request.path }}">
                            Sign in
                        </a>
                    {% endif %}
                    {% include 'google_one_tap_button.html' %}
                {% endif %}
            </div>
        </div>
    </nav>
</div>
