<header>
    <a href="https://www.gooey.ai" target="_top">
        <img class="logo"
             src="https://storage.googleapis.com/dara-c1b52.appspot.com/gooey/gooey_logo_300x142.png"></img>
    </a>

    <div class="header-links">
        <a href="https://www.gooey.ai">Home</a>
        <a href="/">Explore</a>
        {% if not request.user %}
            <a href="https://www.gooey.ai/pricing">Pricing</a>
        {% endif %}
        <a href="https://www.gooey.ai/privacy">Privacy</a>
        <a href="https://www.gooey.ai/terms">Terms</a>
        {% if request.user %}
            <a href="/account">Account</a>
        {% endif %}
    </div>
</header>
