<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dara Sign in</title>
</head>
<body>

{% if user_logged_in %}
    <h3> Logged in as {{ request.session.get('user').email }} </h3>
    <a href="/logout"> Log Out </a>
{% else %}
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
         data-client_id="6678571001-havdpq1g68ljt0qgsdln5s3k0tqau4a0.apps.googleusercontent.com"
         data-login_uri="/auth"
         data-auto_prompt="true">
    </div>
    <div class="g_id_signin"
         data-type="icon"
         data-size="large"
         data-theme="outline"
         data-text="sign_in_with"
         data-shape="pill"
         data-logo_alignment="left">
    </div>
{% endif %}

</body>
</html>