{% if request.user %}
    <div class="login-container">
        <a href="/account" class="login-name">
            {% if request.user.display_name %}
                {{ request.user.display_name }}
            {% endif %}
            <div class="login-id">{{ request.user.email or request.user.phone_number }}</div>
        </a>
    </div>
{% else %}
    <script src="https://accounts.google.com/gsi/client" async defer></script>

    <div id="replace-login-text" class="login-container">
        <div id="g_id_signin"></div>
        <div style="height: 6px"></div>
        <a href="/login/?next={{ request.path }}">or another way...</a>&nbsp;
    </div>

    <script>
        window.addEventListener('load', function () {
            const CLIENT_ID = "6678571001-hirtjjutehsmoi1jl0c0290kobdk8t8r.apps.googleusercontent.com";
            google.accounts.id.initialize({
                client_id: CLIENT_ID,
                callback: handleCredentialResponse
            });
            google.accounts.id.renderButton(
                document.getElementById("g_id_signin"),
                {
                    shape: "pill",
                }
            );
            google.accounts.id.prompt();
        });
    </script>
{% endif %}
