{% if request.user and not request.user.is_anonymous %}
    <div class="login-container">
        <a href="/account" class="login-name">
            {% if request.user.display_name %}
                {{ request.user.display_name }}
            {% endif %}
            <div class="login-id">{{ request.user.email or request.user.phone_number }}</div>
        </a>
    </div>
{% else %}
    <script src="https://accounts.google.com/gsi/client" async defer></script>

    <div id="replace-login-spinner" class="login-container">
        <div id="g_id_signin"></div>
        <div style="height: 6px"></div>
        <a href="/login/?next={{ request.path }}">or another way...</a>&nbsp;
    </div>

    <script>
        window.addEventListener('load', function () {
            const CLIENT_ID = "6678571001-hirtjjutehsmoi1jl0c0290kobdk8t8r.apps.googleusercontent.com";
            google.accounts.id.initialize({
                client_id: CLIENT_ID,
                callback: handleCredentialResponse
            });
            google.accounts.id.renderButton(
                document.getElementById("g_id_signin"),
                {
                    shape: "pill",
                }
            );
            google.accounts.id.prompt();
        });
    </script>

    {% if block_incognito %}
        <script src="https://cdn.jsdelivr.net/gh/Joe12387/detectIncognito@v1.3.0/dist/es5/detectIncognito.min.js"></script>
        <script>
            window.addEventListener("load", function () {
                detectIncognito().then((result) => {
                    if (!result.isPrivate) return;
                    let elem = document.getElementById("main-content");
                    if (!elem) return;
                    elem.innerHTML =
                        `<h3 style='text-align: center; padding: 20px'>
                        Sorry! We can't let you use this app in incognito mode. Please login to continue.
                    </h3>`;
                });
            });
        </script>
    {% endif %}
{% endif %}
