<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-analytics.js"></script>

{% if not request.user or anonymous_user_token %}
    {% if anonymous_user_token %}
        <script>
            window._anonymous_user_token = {{ anonymous_user_token | tojson }};
        </script>
    {% endif %}
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
    <script src="/static/js/auth.js?v=6"></script>
{% endif %}
