{% extends 'app.html' %}

{% block content %}
    <section class="align-header">
        <div class="description Box-root">
            <h3>Payment successful!</h3>
        </div>
        <form action="/" method="GET">
            <button id="home" class="btn-outline-dark" type="submit">Home</button>
        </form>
        <form action="/account" method="GET">
            <button id="home" class="btn-outline-dark" type="submit">Account</button>
        </form>
    </section>

{% endblock content %}
