<script src="https://kit.fontawesome.com/1027b28bc7.js" crossorigin="anonymous"></script>
<!--<div style=" width: 100px;-->
<!--  height: 100px;-->
<!--  position: relative;">-->
    <div style=" display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;">
        <a style="color: white;" href="https://www.facebook.com/sharer.php?u={{example_url}}"
           title="Share to Facebook" target=”_blank”><i
                class="fa-brands fa-facebook fa-2xl"></i></a>
        <a style="color: white;" href="https://twitter.com/home?status={{example_url}}" title="Share to Twitter"
           target="_blank"><i
                class="fa-brands fa-twitter fa-2xl"></i></a>
        <a style="color: white;" href=
                "whatsapp://send?text={{example_url}}"
           data-action="share/whatsapp/share"
           target="_blank">
            <i class="fa-brands fa-whatsapp fa-2xl"></i>
        </a>
        <a style="color: white;" href="mailto:?subject=Feedback&body=Message">
            <i class="fa-solid fa-envelope  fa-2xl"></i>
        </a>
    </div>

<!--</div>-->