{% extends 'base.html' %}

{% block content %}
    {% include 'login_container.html' %}

    {% if not request.user and block_incognito %}
        <script src="https://cdn.jsdelivr.net/gh/Joe12387/detectIncognito@main/detectIncognito.min.js"></script>
        <script>
        document.
            detectIncognito().then((result) => {
                if (!result.isPrivate) return;
                let iframeContainer = document.getElementById("iframe-container");
                iframeContainer.innerHTML =
                    `<h3 style='text-align: center; padding: 20px'>
                        Sorry! We can't let you use this app in incognito mode. Please login to continue.
                    </h3>`;
            });
        </script>
    {% endif %}

{#    <script SameSite="None; Secure" src="https://cdn.landbot.io/landbot-3/landbot-3.0.0.js"></script>#}
{% endblock content %}