<p>
    Hi!
</p>

<p>
    <b>{{ invite.created_by.display_name or invite.created_by.first_name() }}</b>
    invited you to join <b>{{ invite.workspace.display_name() }}</b>
    on
    <a href="{{ settings.APP_BASE_URL }}">Gooey.AI</a>.
</p>

<p>
    {% set invite_url = invite.get_invite_url() %}
    Join the workspace here: <a href="{{ invite_url }}">{{ invite_url }}</a>
</p>

<p>
  Through your Workspace above, you can run the top
  private and open source AI models and collaborate on your
  team's saved workflows.
  Check out <a href="{{ settings.DOCS_URL }}">{{ settings.DOCS_URL }}</a> too for a
  great set of tutorials and guides.
</p>

<p>
    Happy building!<br/>
    The Gooey.AI team
</p>

{{ "{{{ pm:unsubscribe }}}" }}
